.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
body{
    background-image: linear-gradient(to bottom right, rgba(79,51,176,1),red , yellow , rgba(210,53,165));
    font-family: sans-serif;
}
input{
    border-radius: 21px;
    border: 4px solid #244624;
    font-size: 55px;
    height: 100px;
    width: 456px;
}
button{
    border-radius: 100px;
    font-size: 40px;
    width: 101px;
    height: 90px;
    margin: 6px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}
.calculator{
    background-color: white;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
.blue{
    background-color:rgba(255, 192, 248, 0.557);
    color:rgba(226, 21, 241, 0.737);
}
.equal{
    background-color:rgba(127, 255, 212, 0.562);
    color:rgba(0, 0, 255, 0.774);
    height: 200px;
}
.lig{
    background-color: rgba(0, 255, 255, 0.269);
}
.red{
    background-color: rgba(139, 0, 23, 0.24);
    color: rgba(255, 0, 0, 0.712);
}